<!DOCTYPE html>

<html lang="pt" xmlns:th="http://thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta charset="UTF-8">
<title>BlogCodeTec</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
	
	<!-- scripts do Jquery e summernote-->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>

<body>

	<header>
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1" style="font-weight: bold;">BlogCodeTec</span>
			</div>
		</nav>
	</header>

	<section>
		<div class="container" style="width: 70%; padding-bottom: 30px">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="background-color: white; padding-left: 0px; font-weight: 600;">
					<li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
					<li class="breadcrumb-item active" aria-current="page">Novo Post</li>
				</ol>
			</nav>
			
			<div>
				<!-- determina que será incorporado a esta página um messagemValidacao.html a parte -->
				<th:block th:include="messagemValidacao"></th:block>
			
				<form method="post">
				
					<small class="form-text text-muted">(*) Campos Obrigatórios</small>
					
					<div class="mb-3" style="margin-top: 20px;">
						<input type="text" class="form-control" name="titulo" placeholder="Título *">
					</div>
					
					<div class="mb-3">
						<input type="text" class="form-control" name="autor" placeholder="Autor *">
					</div>
					
					<textarea id="summernote" type="text" class="form-control" name="texto" placeholder="Texto *"></textarea>
					
					<button type="submit" class="btn btn-primary" style="margin-top: 20px; ">Publicar</button>
					<a href="/posts" class="btn btn-danger" role="button" style="margin-top: 20px;">Cancelar</a>
					
				</form>
			</div>

		</div>	
	</section>
	
	<script type="text/javascript">

		$('#summernote').summernote({
			placeholder: 'Texto *',
			tabsize: 2,
			height: 300
		});

	</script>

</body>

</html>