<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>BlogCodeTec</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
</head>

<body>

	<header>
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1" style="font-weight: bold;">BlogCodeTec</span>
			</div>
		</nav>
	</header>

	<section>
		<div class="container" style="width: 70%; padding-bottom: 30px">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="background-color: white; padding-left: 0px; font-weight: 600;">
					<li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
					<li class="breadcrumb-item active" aria-current="page">Novo Post</li>
				</ol>
			</nav>
			
			<div>
				<form method="post">
				
					<small class="form-text text-muted">(*) Campos Obrigatórios</small>
					
					<div class="mb-3">
						<input type="text" class="form-control" name="titulo" placeholder="Título *">
					</div>
					
					<div class="mb-3">
						<input type="text" class="form-control" name="autor" placeholder="Autor *">
					</div>
					
					<textarea type="text" class="form-control" name="texto" placeholder="Texto *"></textarea>
					
					<button type="submit" class="btn btn-primary" style="margin-top: 20px; ">Publicar</button>
					<a href="/posts" class="btn btn-danger" role="button" style="margin-top: 20px;">Cancelar</a>
					
				</form>
			</div>

		</div>	
	</section>

</body>

</html>